@charset "utf-8";

/*----------見出し（ニュース）----------*/
h2.midashi_horn {
	height: 38px;
	font-size: 190%;
	color: #695c9f;
	font-weight: bold;
	background-image: url(../images/common/icon_horn.jpg);
	background-repeat: no-repeat;
	margin-top: 10px;
	padding-top: 14px;
	padding-left: 55px;
}

/*----------最新ニュース----------*/
.top_news{
	width:720px;
	background-color: #f0efea;
	padding: 20px;
	border-radius: 5px;
}

.top_news dl{
    font-size: 120%;
	background-color: #f0efea;
}

.top_news dt{
    width:100px;
	float: left;
}

.top_news dd{
	width:600px;
    color: #434343;
	float: left;
	text-decoration: none;
}

.top_news dd a:link{
    color: #434343;
	text-decoration: underline;
}

.top_news dd a:visited{
    color: #434343;
	text-decoration: underline;
}

.top_news dd a:hover{
	color: #999999;
	text-decoration: underline;
}