@charset "utf-8";
/* Reset CSS  for html5*/
/*-------------------------------------------------------------------
 ピクセル ％  文字サイズ相対指定は%で行う。
---------------------------------------------------------------------
10px  100 	%
11px  110    %
12px  120    %
13px  130 	%
14px  140  	%
15px  150  	%
16px  160	    %
17px  170  	%
18px  180  	%
19px  190  	%
20px  200	    %
21px  210 	%
22px  220  	%
23px  230  	%
24px  240  	%
25px  250  	%
26px  260  	%
*/

/*-------------------------------------------------------------------
マージンパディングのリセット
-------------------------------------------------------------------*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin:0;
	padding:0;
}

/*-------------------------------------------------------------------
 HTML5をサポートしていないブラウザ向けにブロック化
-------------------------------------------------------------------*/
article, aside, dialog, figure, footer, header, hgroup, nav, section {
display:block;
}

/*-------------------------------------------------------------------
HTML-- 右のボーダーを常に表示させる。
-------------------------------------------------------------------*/
html {
overflow-y:scroll;
}

/*-----------------------------------------------------------------------------
フォントサイズ統一。文字を入力するタグを100%にする。
-------------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6, p, td, th, dt, dd {
	font-size:100%;
	font-weight:normal;
	margin-top: 10px;
	margin-bottom: 10px;
}

/*-----------------------------------------------------------------------
table
-------------------------------------------------------------------------*/
table {
	border-collapse:collapse;
	border-spacing:0;
	/*font-size:inherit;*/
	font-size:100%;
}

/*-----------------------------------------------------------------------
画像のボーダー消し
-------------------------------------------------------------------------*/
fieldset, img {
	border:0;
}
img {
	vertical-align: baseline;
}

/*-----------------------------------------------------------------------
文字装飾のリセット
-------------------------------------------------------------------------*/
address, caption, cite, em, strong, b, i, th {
	font-style:normal;
	font-weight:normal;
}

/*-----------------------------------------------------------------------
リストマークのリセット
-------------------------------------------------------------------------*/
li {
	list-style:none;
}

/*-----------------------------------------------------------------------
キャプション、テーブルヘッダーのテキスト方向
-------------------------------------------------------------------------*/
caption, th {
	text-align:left;
}

/*-----------------------------------------------------------------------
リンクの装飾
-------------------------------------------------------------------------*/
a {
	text-decoration:none;
}

/*-----------------------------------------------------------------------
フォームタグの中の文字設定
-------------------------------------------------------------------------*/
input, textarea, select {
	outline-offset:0px;
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
* input, * textarea, * select{
	font-size:100%;
}



/*-----------------------------------------------------------------------
clearfix
-------------------------------------------------------------------------*/

body:after, header:after, nav:after, article:after , section:after , hgroup:after , footer:after , aside:after , div:after , ul:after , .clearfix:after, #contents:after, #wrap:after{
  clear:both;
  content: "";
  display:block;
  visibility: hidden;
  height: 0;
 }

.cf:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}

.cf{
	min-height: 1px;
}
